
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="#">Buckeye Video Game Connections</a>
        </div>
    </div>
</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Buckeye Video Game Connections</h1>
        <p>Buckeye Video Game Connections is your one stop shop for video games and placeholder text</p>
      </div>
    </div>

    <div class="background-container container">
        <div class="container separator-container">
            <div class="main-container">
      <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>About Us</h2>
                        <p>This is where you get to see some fabulous placeholder text</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Tournaments</h2>
                        <p>We love games and we love community, so we started hosting tournaments! We host tournaments for Super Smash Brothers 4 as well as Project M every Friday and Saturday. Come play to win prizes or just for fun! You can bring your own controller or we can supply you with one. The best part is that if there is a game that you want to see in a tournament, let our staff know, and it might become another weekly tournament!</p>
                        <h3>Tournaments:</h3><ul>
                            <li>Project M:<ul>
                                    <li>Fridays from 6pm to 8pm</li>
                                    <li>Entry Fee: $5</li>
                                </ul>
                            </li>
                            <li>Smash 4:<ul>
                                    <li>Saturdays from 4pm to 8pm</li>
                                    <li>Entry Fee: $5</li>
                                </ul>
                            </li>
                        </ul>
                        <!-- add a list of the games and times and whatnot -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Contact Us</h2>
                        <p>Address: 2398 N High Street, Columbus, OH 43202</p>
                        <p><a href="https://www.facebook.com/Buckeye-Video-Game-Connection-105855226423157/"><img src="/images/FB-FindUsonFacebook-online-100.png"/></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
