.main-container{
	overflow: hidden;
	padding-right: 30px;
  	padding-left: 30px;
  	margin-right: auto;
  	margin-left: auto;
}

.text-center{
	text-align: center;
}

.background-container{
	min-height:100%;
}

.separator-container{
	overflow:hidden;
}

body {
	min-height: 100%;
}
